* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #4f0d60, #666f73);
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.vertical-tabs {
    position: relative;
    width: 300px;
    /* Increased the width to 350px */
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /* Added flex-shrink: 0 to maintain the same size in all conditions */
}

.logo {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #b39267;
    color: #fff;
    border-bottom: 1px solid #ccc;
}

.tab-buttons {
    padding: 20px 0;
    overflow-y: auto;
    flex-grow: 1;
    background-color: #efefef;
}

.tab-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.tab-button:hover {
    background-color: #ffd700;
    color: #333;
}

.tab-button.active {
    background-color: #4CAF50;
    color: #fff;
}

.tab-footer {
    padding: 10px;
    background-color: #766e85;
    color: #fff;
    border-top: 1px solid #ccc;
    text-align: center;
}

.language-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.language-button:hover {
    background-color: #ffd700;
    color: #333;
}

.content {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}
